.top-buffer {
    margin-top: 20px;
}

input {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
}

td {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://images8.alphacoders.com/370/370799.jpg);
}

/* css for carousel */

/*
 Fade content bs-carousel with hero headers
 Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
 Image credits: unsplash.com
 */

     /********************************/
     /*       Fade Bs-carousel       */
     /********************************/
 .fade-carousel {
     position: relative;
     margin-left: auto;
     margin-right:auto;
     height: 30vh;
 }

.fade-carousel .carousel-inner .item {
    height: 30vh;
}

.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #fff;
    border-color: #fff;
    opacity: .7;
}

.fade-carousel .carousel-indicators > li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.hero h1 {
    font-size: 7vh;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.hero h3 {
    font-size: 2.7vh;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .1;
}


/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5{
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.fade-carousel .slides .slide-1 {
    background-image: url(http://www.richardcayne.com/wp-content/uploads/2015/03/stock-chart-blue.png);
}

.fade-carousel .slides .slide-2 {
    background-image: url(http://images.freepicturesweb.com/img1/11/11/25.jpg);
}

.fade-carousel .slides .slide-3 {
    background-image: url(http://www.mlslighting.co.uk/wp/wp-content/uploads/2015/02/lighting-calculation-1000.jpg);
}

.fade-carousel .slides .slide-4 {
    background-image: url(http://www.graphicx.de/wp-content/uploads/2013/06/D%C3%BCne.jpg);
}

.fade-carousel .slides .slide-5 {
    background-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/blue-sky-1330598792xLu.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px) {
    .hero {
        width: 980px;
    }
}

@media screen and (max-width: 640px) {
    .hero h1 {
        font-size: 4em;
    }
}